<div class="card">
  <div class="p-5">
    <div class="text-center mb-2">
      <h3 style="font-weight: bold; font-size: 2.25rem">
        Employee Achievement Skill List
      </h3>
    </div>
    <p-table
      [value]="filteredEmpAchievementSkills"
      sortField="full_name"
      sortMode="single"
      [scrollable]="true"
      scrollHeight="400px"
      rowGroupMode="subheader"
      groupRowsBy="full_name"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
          <p-button
            label="Employee Achievement Skill"
            icon="pi pi-plus"
            (click)="showAddDialog()"
            class="p-button-text"
          ></p-button>
          <div class="flex justify-content-end">
            <input
              pInputText
              type="text"
              (input)="searchData()"
              placeholder="Search ..."
              [(ngModel)]="searchKeyword"
            />
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>No</th>
          <!-- <th>User</th> -->
          <th>Achievement</th>
          <th>Notes</th>
          <th>Score</th>
          <th>Year</th>
          <th>Action</th>
        </tr>
      </ng-template>

      <!-- Group Header -->
      <ng-template pTemplate="groupheader" let-empAchievementSkill>
        <tr pRowGroupHeader>
          <td colspan="7">
            <strong>{{ empAchievementSkill.full_name }}</strong>
          </td>
        </tr>
      </ng-template>

      <!-- Group Footer (optional) -->
      <ng-template pTemplate="groupfooter" let-empAchievementSkill>
        <tr>
          <td colspan="7" class="text-right font-bold pr-6">
            Achievement Total:
            {{ calculateAchievementTotal(empAchievementSkill.full_name) }}
          </td>
        </tr>
      </ng-template>

      <!-- Body -->
      <ng-template
        pTemplate="body"
        let-empAchievementSkill
        let-rowIndex="rowIndex"
      >
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ empAchievementSkill.full_name }}</td>
          <!-- <td>{{ empAchievementSkill.achievement_name }}</td> -->
          <td>{{ empAchievementSkill.notes }}</td>
          <td>{{ empAchievementSkill.score }}</td>
          <td>{{ empAchievementSkill.assessment_year }}</td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-sm mr-2"
              (click)="editEmpAchievementSkill(empAchievementSkill)"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-danger p-button-sm"
              (click)="deleteEmpAchievementSkill(empAchievementSkill.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Pencapaian"
  [(visible)]="empAchievementSkillDialog"
  [style]="{ width: '50%', height: 'auto' }"
  [contentStyle]="{ overflow: 'auto' }"
  modal="true"
  closable="false"
  [baseZIndex]="10000"
>
  <div class="p-fluid">
    <div class="field">
      <label for="user">Personal</label>
      <p-dropdown
        id="user"
        [(ngModel)]="empAchievementSkill.user_id"
        [options]="users"
        optionLabel="full_name"
        optionValue="id"
        placeholder="Choose Employee"
        class=""
      ></p-dropdown>
    </div>

    <div class="field">
      <label for="user">Achievement</label>
      <p-dropdown
        id="achievement"
        [(ngModel)]="empAchievementSkill.achievement_id"
        [options]="achievements"
        optionLabel="achievement"
        optionValue="id"
        placeholder="Choose Achievement"
        class=""
      ></p-dropdown>
    </div>

    <div class="field">
      <label for="notes">Notes</label>
      <input
        id="notes"
        [(ngModel)]="empAchievementSkill.notes"
        pInputText
        class="custom-input"
      />
    </div>

    <div class="p-field">
      <label for="score">Score</label>
      <input
        type="number"
        pInputText
        id="score"
        [(ngModel)]="empAchievementSkill.score"
        (ngModelChange)="validateScore()"
      />

      <small *ngIf="scoreWarning" class="p-error"
        >The score cannot be more than 100!</small
      >
    </div>
  </div>

  <p-footer>
    <div class="flex justify-content-end">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        severity="secondary"
        (click)="empAchievementSkillDialog = false"
      ></p-button>
      <button
        pButton
        label="Save"
        icon="pi pi-check"
        (click)="saveEmpAchievementSkill()"
        [disabled]="
          !empAchievementSkill.user_id ||
          !empAchievementSkill.notes ||
          !empAchievementSkill.achievement_id ||
          !empAchievementSkill.score
        "
        class="mr-2"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog
  header="Achievement"
  [(visible)]="empAchievementSkillDialog"
  [style]="{ width: '50%', height: '70%' }"
  [contentStyle]="{ overflow: 'auto' }"
  modal="true"
  closable="false"
  [baseZIndex]="10000"
>
  <div class="p-fluid">
    <div class="field">
      <label for="User">User</label>
      <p-dropdown
        id="user"
        [(ngModel)]="empAchievementSkill.user_id"
        [options]="users"
        optionLabel="full_name"
        optionValue="id"
        placeholder="Pilih User"
      ></p-dropdown>
    </div>
    <div class="field">
      <label for="score">Assesment Year</label>
      <p-inputNumber
        [(ngModel)]="empAchievementSkill.assessment_year"
        id="assessmentYear"
        [min]="2000"
        [max]="2025"
        [useGrouping]="false"
        [maxFractionDigits]="0"
        inputStyleClass="custom-input"
        placeholder="Enter year (4 digits)"
      >
      </p-inputNumber>
      <!-- <small *ngIf="assessmentYearError" class="p-error">Year must be a 4-digit number.</small> -->
    </div>
    <div class="field">
      <label for="Achievement">Achievement</label>
      <p-dropdown
        id="achievement"
        [(ngModel)]="empAchievementSkill.achievement_id"
        [options]="achievements"
        optionLabel="achievement"
        optionValue="id"
        placeholder="Pilih Achievement"
      ></p-dropdown>
    </div>
    <div class="field">
      <label for="achievement">Notes</label>
      <input
        id="notes"
        [(ngModel)]="empAchievementSkill.notes"
        pInputText
        class="custom-input"
      />
    </div>
    <div class="field">
      <label for="score">Score</label>
      <p-inputNumber
        id="score"
        [(ngModel)]="empAchievementSkill.score"
        [min]="0"
        [max]="100"
        [showButtons]="false"
        class="custom-input"
        placeholder="Enter Score (0 - 100)"
      >
      </p-inputNumber>
      <!-- <small *ngIf="scoreError" class="p-error">Score must be between 0 and 100.</small> -->
    </div>
  </div>

  <p-footer>
    <div class="flex justify-content-end">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        severity="secondary"
        (click)="empAchievementSkillDialog = false"
      ></p-button>
      <button
        pButton
        label="Save"
        icon="pi pi-check"
        [disabled]="
          !empAchievementSkill.user_id ||
          !empAchievementSkill.notes ||
          !empAchievementSkill.achievement_id ||
          !empAchievementSkill.score ||
          !empAchievementSkill.assessment_year
        "
        (click)="saveEmpAchievementSkill()"
        class="mr-2"
      ></button>
    </div>
  </p-footer>
</p-dialog>
