.p-datatable {
  font-size: 14px;
}

.p-datatable th {
  text-align: left;
  background-color: #f1f1f1;
}

.p-datatable td {
  padding: 10px;
}

:host ::ng-deep .p-dialog-mask {
  z-index: 1000 !important;
}

.custom-swal-popup {
  z-index: 1050 !important;
}
input[type="text"] {
  width: 200px; /* Atur lebar input pencarian */
  margin-right: 10px; /* Jarak antara input dan tombol */
}

.p-button {
  margin-left: 5px; /* Jarak antara tombol */
}
