<!-- Tombol Tambah Data -->
<p-button label="Tambah Group Achievement" icon="pi pi-plus" (click)="showAddDialog()" class="p-5 mt-5"></p-button>

<div class="card">
    <div class="p-5">
        <!-- Tabel Data -->
        <p-table [value]="filteredGroupAchievements" [paginator]="true" [rows]="5" [first]="first"
            [totalRecords]="totalRecords" [loading]="loading" styleClass="p-datatable-gridlines"
            (onPage)="loadPage($event)">

            <ng-template pTemplate="caption">
                <div class="flex">
                    <!-- Dropdown Kategori Pencarian -->
                    <p-dropdown [options]="searchCategories" [(ngModel)]="selectedCategory"
                        placeholder="Select Category" [ngClass]="{'p-dropdown-sm': true}" [style]="{'width': '150px'}"
                        class="mr-3"></p-dropdown>

                    <!-- Input Pencarian -->
                    <input pInputText type="text" (input)="searchData()" placeholder="Cari ..."
                        [(ngModel)]="searchKeyword" />
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>No</th>
                    <th>Group Name</th>
                    <th>Percentage</th>
                    <th>Enabled</th>
                    <th>Action</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-groupAchievement let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{ groupAchievement.group_name }}</td>
                    <td>{{ groupAchievement.percentage }}%</td>
                    <td>
                        <p-tag [severity]="groupAchievement.enabled ? 'success' : 'danger'"
                            [value]="groupAchievement.enabled ? 'Enabled' : 'Disabled'">
                        </p-tag>
                    </td>
                    <td class="flex gap-2">
                        <button pButton type="button" label="" icon="pi pi-pencil" class="p-button-sm"
                            (click)="editGroupAchievement(groupAchievement)"></button>
                        <button pButton type="button" label="" icon="pi pi-trash" class="p-button-danger p-button-sm"
                            (click)="deleteGroupAchievement(groupAchievement.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Modal Form for Add/Edit Group Achievement -->
<p-dialog header="Group Achievement" [(visible)]="groupAchievementDialog" [style]="{width: '50%', height: '50%'}"
    [contentStyle]="{overflow: 'auto'}" modal="true" closable="false" [baseZIndex]="10000">

    <div class="p-fluid">
        <!-- Input Group Name -->
        <div class="field">
            <label for="groupName">Group Name</label>
            <input id="groupName" [(ngModel)]="groupAchievement.group_name" pInputText />
        </div>

        <!-- Input Percentage -->
        <div class="field">
            <label for="percentage">Percentage</label>
            <input id="percentage" [(ngModel)]="groupAchievement.percentage" pInputText type="number" />
        </div>

        <!-- Checkbox for Enabled -->
        <div class="field">
            <label for="enabled">Status</label>
            <p-dropdown [options]="enabledOptions" [(ngModel)]="groupAchievement.enabled" placeholder="Select Status"
                id="enabled" required>
            </p-dropdown>
            <small class="p-error" *ngIf="!groupAchievement.enabled && groupAchievementDialog">Status wajib
                dipilih.</small>
        </div>
    </div>

    <p-footer>
        <div class="flex justify-content-end">
            <p-button label="Cancel" icon="pi pi-times" severity="secondary"
                (click)="groupAchievementDialog = false"></p-button>
            <button pButton label="Save" icon="pi pi-check" (click)="saveGroupAchievement()"
                [disabled]="!groupAchievement.group_name || !groupAchievement.percentage" class="mr-2"></button>
        </div>
    </p-footer>
</p-dialog>