<div class="card">
    <div class="p-5">
        <div class="text-center mb-2">
            <h3 style="font-weight: bold; font-size: 2.25rem;">Sikap dan Keahlian</h3>
        </div>
        <!-- <p-table [value]="filteredAttitudeSkill" [paginator]="true" [rows]="5" [filters]="filters"
            [globalFilterFields]="['group_name', 'attitude_skill', 'enabled']" [loading]="loading"
            styleClass="p-datatable-gridlines" [rowsPerPageOptions]="[5, 10, 20]"> -->
            <p-table 
            [value]="filteredAttitudeSkill" 
            sortField="group_name" 
            sortMode="single"
            rowGroupMode="subheader" 
            groupRowsBy="group_name"
            [paginator]="true" 
            [rows]="5" 
            [filters]="filters"
            [globalFilterFields]="['group_name', 'attitude_skill', 'enabled']" 
            [loading]="loading"
            styleClass="p-datatable-gridlines" 
            [rowsPerPageOptions]="[5, 10, 20]"
            >
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <p-button label="Pencapaian" icon="pi pi-plus" (click)="showAddDialog()"
                        class="p-button-text"></p-button>
                    <div class="flex justify-content-end">
                        <input pInputText type="text" (input)="searchData()" placeholder="Cari ..."
                            [(ngModel)]="searchKeyword" />
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p>No</p>
                    </th>
                    <!-- <th pSortableColumn="group_name">
                        Grup Sikap dan Keahlian
                        <p-columnFilter type="text" field="group_name" display="menu"></p-columnFilter>
                    </th> -->
                    <th pSortableColumn="attitude_skill">
                        Sikap dan Keahlian
                        <p-columnFilter type="text" field="attitude_skill" display="menu"></p-columnFilter>
                    </th>
                    <th>
                        <p>Status</p>
                        <!-- <p-columnFilter type="text" field="enabled" display="menu"></p-columnFilter> -->
                    </th>
                    <th>Aksi</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="groupheader" let-att>
                <tr pRowGroupHeader>
                    <td colspan="5">
                    
                        <span class="font-bold ml-2">{{att.group_name}}</span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-attitudeSkill let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <!-- <td>{{ attitudeSkill.group_name }}</td> -->
                    <td>{{ attitudeSkill.attitude_skill }}</td>
                    <td>
                        <p-tag [severity]="attitudeSkill.enabled ? 'success' : 'danger'"
                            [value]="attitudeSkill.enabled ? 'Enabled' : 'Disabled'">
                        </p-tag>
                    </td>
                    <td>
                        <button pButton type="button" icon="pi pi-pencil" class="p-button-sm mr-2 "
                            (click)="editAttitudeSkill(attitudeSkill)"></button>
                        <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-sm"
                            (click)="deleteAttitudeSkill(attitudeSkill.id)"></button>
                    </td>

                </tr>
            </ng-template>
        </p-table>

    </div>
</div>

<!-- Modal Form for Add/Edit Achievement -->
<p-dialog header="Pencapaian" [(visible)]="attitudeSkillDialog" [style]="{width: '50%', height: 'auto'}"
    [contentStyle]="{overflow: 'auto'}" modal="true" closable="false" [baseZIndex]="10000">

    <div class="p-fluid">

        <div class="field">
            <label for="group-attitude-skill">Grup Sikap dan Keahlian</label>
            <p-dropdown id="group-attitude-skill" [(ngModel)]="attitudeSkill.group_id" [options]="groupAttitudeSkills"
                optionLabel="group_name" optionValue="id" placeholder="Pilih Grup Sikap dan Keahlian" class=""></p-dropdown>
        </div>

        <div class="field">
            <label for="attitudeSkill">Sikap dan Keahlian</label>
            <input id="attitudeSkill" [(ngModel)]="attitudeSkill.attitude_skill" pInputText class="custom-input" />
            <small class="p-error" *ngIf="isAttitudeSKillDuplicate && attitudeSkillDialog">Sikap dan Keahlian sudah
                digunakan.</small>
        </div>

        <div class="field" *ngIf="attitudeSkill.id">
            <label for="enabled">Status</label>
            <p-dropdown [options]="enabledOptions" [(ngModel)]="attitudeSkill.enabled" placeholder="Pilih Status"
                id="enabled" required appendTo="body">
            </p-dropdown>
            <!-- <small class="p-error" *ngIf="!attitudeSkill.enabled && attitudeSkillDialog">Status wajib
                dipilih.</small> -->
        </div>


    </div>

    <p-footer>
        <div class="flex justify-content-end">
            <p-button label="Cancel" icon="pi pi-times" severity="secondary"
                (click)="attitudeSkillDialog = false"></p-button>
            <button pButton label="Save" icon="pi pi-check" (click)="saveAttitudeSkill()"
                [disabled]="!attitudeSkill.group_id|| !attitudeSkill.attitude_skill" class="mr-2"></button>
        </div>
    </p-footer>
</p-dialog>