<div class="card">
  <div class="p-5">
    <div class="text-center mb-2">
      <h3 style="font-weight: bold; font-size: 2.25rem">
        Attitude & Skill List
      </h3>
    </div>
    <div class="mb-2">
      <p-button
      label="Tambah Data"
      icon="pi pi-plus"
      (click)="showAddDialog()"
      class="p-button-text"
      ></p-button>
    </div>
    <p-table
      [value]="filteredAttitudeSkill"
      [lazy]="true"
      [paginator]="true"
      [rows]="selectedPageSize"
      [filters]="filters"
      [totalRecords]="totalRecords"
      (onPage)="loadPage($event)"
      [loading]="loading"
      styleClass="p-datatable-gridlines"
      [rowsPerPageOptions]="pageSizeOptions"
      rowGroupMode="subheader"
      groupRowsBy="group_name"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
          <div class="flex items-center gap-2">
            <p-dropdown
              [options]="sortOptions"
              [(ngModel)]="currentSortBy"
              (onChange)="onSortChange($event)"
              placeholder="Select a sort option"
            ></p-dropdown>
            <button
              (click)="toggleSortingDirection()"
              pButton
              [icon]="
                sortingDirection === 'asc'
                  ? 'pi pi-caret-up'
                  : 'pi pi-caret-down'
              "
              class="p-button-outlined"
              aria-label="Toggle Sort Direction"
            ></button>
            <p-button
              label=""
              icon="pi pi-refresh"
              (click)="resetFilters()"
              class="p-button-text"
            ></p-button>
          </div>
          <div class="flex justify-content-end">
            <input
              type="text"
              [(ngModel)]="searchKeyword"
              pInputText
              placeholder="Search Attitude & Skill"
              class="mr-2"
            />
            <p-button
              label=""
              icon="pi pi-search"
              (click)="
                getAllAttitudeSkills(
                  currentSortBy,
                  sortingDirection,
                  searchKeyword
                )
              "
            ></p-button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>No</th>
          <th>Attitude & Skill</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupheader" let-att>
        <tr pRowGroupHeader>
          <td colspan="5">
            <span class="font-bold ml-2">{{ att.group_name }}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-attitudeSkill let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <!-- <td>{{ attitudeSkill.group_name }}</td> -->
          <td>{{ attitudeSkill.attitude_skill }}</td>
          <td>
            <p-tag
              [severity]="attitudeSkill.enabled ? 'success' : 'danger'"
              [value]="attitudeSkill.enabled ? 'Enabled' : 'Disabled'"
            >
            </p-tag>
          </td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-sm mr-2"
              (click)="editAttitudeSkill(attitudeSkill)"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-danger p-button-sm"
              (click)="deleteAttitudeSkill(attitudeSkill.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Attitude & Skill"
  [(visible)]="attitudeSkillDialog"
  [style]="{ width: '50%', height: 'auto' }"
  [contentStyle]="{ overflow: 'auto' }"
  modal="true"
  closable="false"
  [baseZIndex]="10000"
>
  <div class="p-fluid">
    <div class="field">
      <label for="group-attitude-skill">Attitude & Skill Group</label>
      <p-dropdown
        id="group-attitude-skill"
        [(ngModel)]="attitudeSkill.group_id"
        [options]="groupAttitudeSkills"
        optionLabel="group_name"
        optionValue="id"
        placeholder="Choose Attitude & Skill Group"
        class=""
      ></p-dropdown>
    </div>

    <div class="field">
      <label for="attitudeSkill">Attitude & Skill</label>
      <input
        id="attitudeSkill"
        [(ngModel)]="attitudeSkill.attitude_skill"
        pInputText
        class="custom-input"
      />
      <small
        class="p-error"
        *ngIf="isAttitudeSKillDuplicate && attitudeSkillDialog"
        >Attitude & Skill already exists.</small
      >
    </div>

    <div class="field" *ngIf="attitudeSkill.id">
      <label for="enabled">Status</label>
      <p-dropdown
        [options]="enabledOptions"
        [(ngModel)]="attitudeSkill.enabled"
        placeholder="Choose Status"
        id="enabled"
        required
        appendTo="body"
      >
      </p-dropdown>
      <!-- <small class="p-error" *ngIf="!attitudeSkill.enabled && attitudeSkillDialog">Status wajib
                dipilih.</small> -->
    </div>
  </div>

  <p-footer>
    <div class="flex justify-content-end">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        severity="secondary"
        (click)="attitudeSkillDialog = false"
      ></p-button>
      <button
        pButton
        label="Save"
        icon="pi pi-check"
        (click)="saveAttitudeSkill()"
        [disabled]="!attitudeSkill.group_id || !attitudeSkill.attitude_skill"
        class="mr-2"
      ></button>
    </div>
  </p-footer>
</p-dialog>
