<div class="card flex justify-content-center">

    <p-dialog header="Tambah Divisi" [modal]="true" (onHide)="closeDialog()" [(visible)]="visible" [style]="{ width: '40rem' }">
        <div class="p-fluid">
            <div class="field">
                <label for="division">Nama Divisi<span class="text-red-600">*</span></label>
                <input pInputText id="division" [(ngModel)]="newDivision.DIVISION_NAME" name="division" #division="ngModel" required />
                <small class="p-error" *ngIf="division.invalid && division.touched">nama Divisi wajib diisi.</small>
                <!-- <div *ngIf="!isValidForm() && newDivision.DIVISION_NAME" class="error">
                    Division name must be unique.
                </div> -->
                <small class="p-error" *ngIf="!isValidForm() && newDivision.DIVISION_NAME">Nama Divisi sudah digunakan.</small>
            </div>
        
            <div class="flex justify-content-end gap-2 mt-3">
                <p-button label="Batal" icon="pi pi-times" severity="secondary" (click)="closeDialog()"></p-button>
                <p-button label="Simpan" icon="pi pi-check" (click)="onSubmit()" [disabled]="!isValidForm()"></p-button>
            </div>
        </div>
    </p-dialog>
  </div>
  