<div class="card">
  <div class="p-5">
    <div class="text-center mb-2">
      <h3 class="font-bold text-2xl">
        {{ userName || "Nama Tidak Ditemukan" }}'s Technical Skill
      </h3>
    </div>
    <div class="flex justify-between mb-4">
      <div class="flex align-items-center">
        <h3 class="mt-5 mr-3">Assessment Year :</h3>
        <p-dropdown
          [options]="yearOptions"
          [(ngModel)]="assessmentYear"
          placeholder="Pilih Tahun"
          (onChange)="onYearChange()"
        ></p-dropdown>
      </div>
      <div class="flex align-items-center">
        <button
          pButton
          label="Save"
          icon="pi pi-save"
          (click)="saveAllEmpTechnicalSkills()"
          [disabled]="isSaving || isExistingData || !isFormComplete()"
          class="ml-3"
        ></button>
      </div>
    </div>

    <div *ngFor="let groupedSkill of groupedTechnicalSkills">
      <h3>{{ groupedSkill.technical_skill }}</h3>

      <p-table [value]="groupedSkill.empSkills" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th class="column1">Criteria</th>
            <th class="column2-th">Score</th>
            <th class="column3-th">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empSkill let-i="rowIndex">
          <tr>
            <td class="column1">
              <textarea
                pInputTextarea
                [(ngModel)]="empSkill.criteria"
                [disabled]="empSkill.isDisabled"
                rows="2"
              ></textarea>
            </td>
            <td class="column2-td">
              <p-dropdown
                [options]="scoreOptions"
                [(ngModel)]="empSkill.score"
                placeholder="Pilih Level"
                appendTo="body"
                [disabled]="empSkill.isDisabled"
              ></p-dropdown>
            </td>
            <td class="column3-td">
              <button
                pButton
                label=""
                icon="pi pi-trash"
                severity="danger"
                (click)="removeRow(groupedSkill, i)"
                [disabled]="empSkill.isDisabled"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <button
        pButton
        label=""
        icon="pi pi-plus"
        severity="primary"
        (click)="addRow(groupedSkill)"
      ></button>
    </div>
  </div>
</div>
