.attitude-skills-list {
    margin-left: 10px;
    margin-right: 10px;
}

.skill-item {
    margin-bottom: 15px;
}

/* .p-inputnumber {
    width: 100px;
} */

.column1 {
    width: 80%;
}

.column2 {
    width: 20%;
    text-align: center;
}