<div class="card">
  <div class="p-5">
    <div class="text-center mb-2">
      <h3 class="font-bold text-2xl">
        {{ userName || "Nama Tidak Ditemukan" }}'s Attitude & Skill Evaluation
        Form
      </h3>
    </div>

    <div class="flex justify-between mb-4">
      <div class="flex align-items-center">
        <h3 class="mt-5 mr-3">Assessment Year :</h3>
        <p-dropdown
          id="assessmentYear"
          [options]="yearOptions"
          [(ngModel)]="assessmentYear"
          placeholder="Choose Assesment Year"
          (onChange)="onYearChange()"
        ></p-dropdown>
      </div>
      <div class="flex align-items-center">
        <button
          pButton
          label="Save"
          icon="pi pi-save"
          (click)="saveAllEmpAttitudeSkills()"
          class="ml-3"
        ></button>
      </div>
    </div>

    <div *ngFor="let group of attitudeSkills">
      <p-table [value]="group.attitude_skills">
        <ng-template pTemplate="header">
          <tr>
            <th class="column1">
              {{ group.group_name }} ({{ group.percentage }}%)
            </th>
            <th class="column2-th">Score</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-skill>
          @if (skill.enabled == 1) {
          <tr>
            <td class="column1">{{ skill.attitude_skill }}</td>
            <td class="column2-td">
              <p-dropdown
                [options]="scoreOptions"
                [(ngModel)]="skill.score"
                placeholder="Choose Score"
                appendTo="body"
              ></p-dropdown>
            </td>
          </tr>
          }
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
