<div class="card flex justify-content-center">
  <p-dialog
    header="Edit Pengguna"
    [modal]="true"
    (onHide)="closeDialog()"
    [(visible)]="visible"
    [style]="{ width: '40rem' }"
  >
    <div class="p-fluid">
      <div class="field">
        <label for="username"
          >Username<span class="text-red-600">*</span></label
        >
        <input
          pInputText
          id="username"
          [(ngModel)]="newUser.username"
          name="username"
          #username="ngModel"
          required
        />
        <small class="p-error" *ngIf="username.invalid && username.touched"
          >Username is required.</small
        >
        <small class="p-error" *ngIf="!isUniqueUsername() && newUser.username"
          >Username already in use.</small
        >
      </div>

      <div class="field">
        <label for="full_name"
          >Full Name<span class="text-red-600">*</span></label
        >
        <input
          pInputText
          id="full_name"
          [(ngModel)]="newUser.full_name"
          name="full_name"
          #fullName="ngModel"
          required
        />
        <small class="p-error" *ngIf="fullName.invalid && fullName.touched"
          >Full Name is required.</small
        >
      </div>

      <div class="field">
        <label for="position"
          >Position<span class="text-red-600">*</span></label
        >
        <input
          pInputText
          id="position"
          [(ngModel)]="newUser.position"
          name="position"
          #position="ngModel"
          required
        />
        <small class="p-error" *ngIf="position.invalid && position.touched"
          >Position required to be filled.</small
        >
      </div>

      <div class="field">
        <label for="email"
          >Email Address<span class="text-red-600">*</span></label
        >
        <input
          pInputText
          id="email"
          [(ngModel)]="newUser.email_address"
          name="email"
          type="email"
          #email="ngModel"
          required
        />
        <small class="p-error" *ngIf="email.invalid && email.touched"
          >Email Address is required.</small
        >
        <small class="p-error" *ngIf="!isUniqueEmail() && newUser.email_address"
          >Email Address already in used.</small
        >
      </div>

      <div class="field">
        <label for="employee_status"
          >Employee Status<span class="text-red-600">*</span></label
        >
        <p-dropdown
          [options]="employeeStatusOptions"
          [(ngModel)]="newUser.employee_status"
          placeholder="Choose Status"
          id="employee_status"
          name="employee_status"
          #employeeStatus="ngModel"
          required
        >
        </p-dropdown>
        <small
          class="p-error"
          *ngIf="employeeStatus.invalid && employeeStatus.touched"
          >Employee Status must be selected.</small
        >
      </div>

      <div class="field">
        <label for="join_date"
          >Date Joined<span class="text-red-600">*</span></label
        >
        <p-calendar
          [(ngModel)]="newUser.join_date"
          dateFormat="yy-mm-dd"
          id="join_date"
          name="join_date"
          #joinDate="ngModel"
          [showIcon]="true"
          required
        >
        </p-calendar>
        <small class="p-error" *ngIf="joinDate.invalid && joinDate.touched"
          >Join Date is required.</small
        >
      </div>

      <div class="field">
        <label for="enabled"
          >Account Status<span class="text-red-600">*</span></label
        >
        <p-dropdown
          [options]="enabledOptions"
          [(ngModel)]="newUser.enabled"
          placeholder="Choose Status"
          id="enabled"
          name="enabled"
          #enabled="ngModel"
          required
        >
        </p-dropdown>
        <small class="p-error" *ngIf="enabled.invalid && enabled.touched"
          >Account Status must be selected.</small
        >
      </div>

      <div class="field">
        <label for="division_id"
          >Division<span class="text-red-600">*</span></label
        >
        <p-dropdown
          [options]="divisions"
          [(ngModel)]="newUser.division_id"
          optionLabel="DIVISION_NAME"
          optionValue="ID"
          placeholder="Choose Division"
          name="division_id"
          #division="ngModel"
          required
        >
        </p-dropdown>
        <small class="p-error" *ngIf="division.invalid && division.touched"
          >Division must be selected.</small
        >
      </div>

      <div class="field">
        <label for="roles">Roles<span class="text-red-600">*</span></label>
        <div class="flex flex-column gap-2">
          <div *ngFor="let role of roles">
            <p-checkbox
              [(ngModel)]="newUser.app_role"
              [value]="role.ID"
              name="roles"
              [label]="role.ROLENAME"
              required
            >
            </p-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col">
        <p-button
          icon="pi pi-refresh"
          severity="help"
          (click)="onResetPassword()"
          pTooltip="reset password"
        ></p-button>
      </div>
      <div class="col flex-none">
        <p-button
          label="Cancel"
          icon="pi pi-times"
          severity="secondary"
          (click)="closeDialog()"
          class="mr-2"
        ></p-button>
        <p-button
          label="Save"
          icon="pi pi-check"
          (click)="onSubmit()"
          [disabled]="!isValidForm()"
        ></p-button>
      </div>
    </div>
  </p-dialog>
</div>
