:host ::ng-deep p-menubarsub {
    width: 95% !important;
}

:host ::ng-deep .p-menubar-root-list {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
}