<div class="card">
  <div class="p-5">
    <div class="text-center mb-2">
      <h3 class="font-bold text-2xl">
        {{ userName || "Nama Tidak Ditemukan" }}'s Suggestion Form
      </h3>
    </div>
    <div class="flex justify-between mb-4">
      <div class="flex align-items-center">
        <h3 class="mt-5 mr-3">Assessment Year :</h3>
        <p-dropdown
          [options]="yearOptions"
          [(ngModel)]="assessmentYear"
          placeholder="Pilih Tahun"
          (onChange)="onYearChange()"
        ></p-dropdown>
      </div>
      <div class="flex align-items-center">
        <button
          pButton
          label="Save"
          icon="pi pi-save"
          (click)="saveAllEmpSuggestions()"
          [disabled]="
            isSaving || isExistingData || !isFormComplete || !hasNewData
          "
          class="ml-3"
        ></button>
      </div>
    </div>
    <p-table [value]="empSuggestions">
      <ng-template pTemplate="header">
        <tr>
          <th>Suggestion</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-suggestion let-i="rowIndex">
        <tr>
          <td>
            <textarea
              pInpuTextArea
              [(ngModel)]="suggestion.suggestion"
              placeholder=""
              [readonly]="suggestion.isExisting"
              (ngModelChange)="checkFormCompleteness()"
            ></textarea>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-trash"
              severity="danger"
              (click)="removeRow(i)"
              [disabled]="suggestion.isExisting"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="row-for-add my-5">
      <button
        pButton
        label=""
        icon="pi pi-plus"
        severity="primary"
        (click)="addRow()"
        [disabled]="isAddRowDisabled"
      ></button>
    </div>
  </div>
</div>
