<h2>Role Access Management</h2>
<p-checkbox
    [binary]="true"
    inputId="binary"></p-checkbox>

    <p-table [value]="menus" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">

          <tr>
            <th>Permissions</th>
            @for (roles of roles; track $index) {
              <th>{{roles.ROLENAME}}</th>
            }
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-menu>
          <tr>
            <td>{{menu.MENU_NAME}}</td>
            @for (item of roles; track $index) {
              <td>
              <p-checkbox
              [binary]="true"
              [(ngModel)]="roleMenuMap[item.ID][menu.ID]"
              (ngModelChange)="updateRoleMenu(item.ID, menu.ID, $event)">
              ></p-checkbox>
            </td>
            }
          </tr>
      </ng-template>
  </p-table>

  <p-button (click)="savePermissions()" label="simpan"></p-button>
