<div class="card">
  <div class="p-5">
    <div class="text-center mb-2">
      <h3 style="font-weight: bold; font-size: 2.25rem">
        Technical Skill
        <p-button
          label=""
          icon="pi pi-plus"
          (click)="showAddDialog()"
          class="p-button-text"
        ></p-button>
      </h3>
    </div>
    <p-table
      [value]="filteredTechnicalSkills"
      [lazy]="true"
      [paginator]="true"
      [rows]="selectedPageSize"
      [filters]="filters"
      [totalRecords]="totalRecords"
      (onPage)="loadPage($event)"
      [loading]="loading"
      styleClass="p-datatable-gridlines"
      [rowsPerPageOptions]="pageSizeOptions"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
          <div class="flex items-center gap-2">
            <p-dropdown
              [options]="sortOptions"
              [(ngModel)]="currentSortBy"
              (onChange)="onSortChange($event)"
              placeholder="Select a sort option"
            ></p-dropdown>
            <button
              (click)="toggleSortingDirection()"
              pButton
              [icon]="
                sortingDirection === 'asc'
                  ? 'pi pi-caret-up'
                  : 'pi pi-caret-down'
              "
              class="p-button-outlined"
              aria-label="Toggle Sort Direction"
            ></button>
            <p-button
              label=""
              icon="pi pi-refresh"
              (click)="resetFilters()"
              class="p-button-text"
            ></p-button>
          </div>
          <div class="flex justify-content-end">
            <input
              type="text"
              [(ngModel)]="searchKeyword"
              pInputText
              placeholder="Search ..."
              class="mr-2"
            />
            <p-button
              label=""
              icon="pi pi-search"
              (click)="
                getAllTechnicalSkills(
                  currentSortBy,
                  sortingDirection,
                  searchKeyword
                )
              "
            ></p-button>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th><p>No</p></th>
          <th><p>Technical Skill</p></th>
          <th><p>Status</p></th>
          <th><p>Action</p></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-technicalSkill let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ technicalSkill.technical_skill }}</td>
          <td>
            <p-tag
              [severity]="technicalSkill.enabled ? 'success' : 'danger'"
              [value]="technicalSkill.enabled ? 'Enabled' : 'Disabled'"
            >
            </p-tag>
          </td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-sm mr-2"
              (click)="editTechnicalSkill(technicalSkill)"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-danger p-button-sm"
              (click)="deleteTechnicalSkill(technicalSkill.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Technical Skill"
  [(visible)]="technicalSkillDialog"
  [style]="{ width: '50%', height: 'auto' }"
  [contentStyle]="{ overflow: 'auto' }"
  modal="true"
  closable="false"
  [baseZIndex]="10000"
>
  <div class="p-fluid">
    <div class="field">
      <label for="technicalSkill">Technical Skill</label>
      <input
        id="technicalSkill"
        [(ngModel)]="technicalSkill.technical_skill"
        pInputText
      />
      <small
        class="p-error"
        *ngIf="isTechnicalSkillDuplicate && technicalSkillDialog"
        >Technical Skill already exists.</small
      >
    </div>
    <div class="field" *ngIf="technicalSkill.id">
      <label for="enabled">Status</label>
      <p-dropdown
        [options]="enabledOptions"
        [(ngModel)]="technicalSkill.enabled"
        placeholder="Choose Status"
        id="enabled"
        required
        appendTo="body"
      >
      </p-dropdown>
    </div>
  </div>

  <p-footer>
    <div class="flex justify-content-end">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        severity="secondary"
        (click)="technicalSkillDialog = false"
      ></p-button>
      <button
        pButton
        label="Save"
        icon="pi pi-check"
        (click)="saveTechnicalSkill()"
        [disabled]="!technicalSkill.technical_skill"
        class="mr-2"
      ></button>
    </div>
  </p-footer>
</p-dialog>
