<p-button label="Tambah Pengguna" icon="pi pi-plus" (click)="openCreateDialog()" class="p-5 mt-5" ></p-button>
<div class="card">
    <!-- Tombol global untuk membuat pengguna baru -->
    
    <div class="p-5">
    <p-table #dt [value]="users" [paginator]="true" [rows]="10" [loading]="loading" class="p-datatable-striped " [globalFilterFields]="['username', 'full_name', 'email_address', 'division_name']">
          <ng-template pTemplate="caption">
              <p-iconField iconPosition="left">
                  <p-inputIcon>
                      <i class="pi pi-search"></i>
                  </p-inputIcon>
                  <input #searchInput pInputText type="text" (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Cari Pengguna..." />
              </p-iconField>
          </ng-template>
          
        <ng-template pTemplate="header">
          <tr>
              <th>Username</th>
              <th>Nama Lengkap</th>
              <th>Jabatan</th>
              <th>Email</th>
              <th>Status Karyawan</th>
              <th>Tanggal Bergabung</th>
              <th>Status Akun</th>
              <th>Divisi</th>
              <th>Aksi</th>
          </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-user>
          <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.full_name }}</td>
              <td>{{ user.position }}</td>
              <td>{{ user.email_address }}</td>
  
              <td>
                  <p-tag [severity]="user.employee_status === 1 ? 'warning' : 'info'"
                         [value]="user.employee_status === 1 ? 'Kontrak' : 'Permanen'">
                  </p-tag>
              </td>
  
              <td>{{ user.join_date | date:'yyyy-MM-dd' }}</td>
  
              <td>
                  <p-tag [severity]="user.enabled === 1 ? 'success' : 'danger'"
                         [value]="user.enabled === 1 ? 'Enabled' : 'Disabled'">
                  </p-tag>
              </td>
  
              <td>{{ user.division_name }}</td>
  
              <td class="flex gap-2">
                  <button pButton type="button" icon="pi pi-pencil" class="p-button-sm" (click)="openUpdateDialog(user)"></button>
                  <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-sm"
                          (click)="confirmDelete(user)"></button>
              </td>
          </tr>
      </ng-template>
    </p-table>
    </div>
</div>
  
  <!-- Komponen Dialog Create User -->
  <app-create-user
    [(visible)]="displayCreateDialog"
    (userCreated)="onUserCreated($event)">
  </app-create-user>

  <app-update-user
    [(visible)]="displayUpdateDialog"
    [user]="selectedUser"
    (userCreated)="onUserCreated($event)">
  </app-update-user>
  