@if (userRoles?.includes('HR') && !isViewUserRoute()) {
<p-button
  label="Tambah Pengguna"
  icon="pi pi-plus"
  (click)="openCreateDialog()"
  class="p-5 mt-5"
></p-button>
}
@if (userRoles?.includes('HR') || userRoles?.includes('SVP')|| userRoles?.includes('MGR')) {

}
<div class="card">
  <!-- Tombol global untuk membuat pengguna baru -->

  <div class="p-5">
    <p-table
      #dt
      [value]="users"
      [paginator]="true"
      [rows]="10"
      [loading]="loading"
      [rowsPerPageOptions]="[10, 25, 50]"
      styleClass="p-datatable-gridlines"
      [globalFilterFields]="[
        'username',
        'full_name',
        'email_address',
        'division_name'
      ]"
    >

      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left mr-auto">
              <i class="pi pi-search"></i>
              <input #searchInput pInputText type="text" [(ngModel)]="searchValue" (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Search keyword" />
          </span>
          <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt)" />
      </div>
        <!-- <p-iconField iconPosition="left">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            #searchInput
            pInputText
            type="text"
            (input)="dt.filterGlobal(searchInput.value, 'contains')"
            placeholder="Cari Pengguna..."
          />
        </p-iconField> -->
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex align-items-center">
              Username
              <p-columnFilter type="text" field="username" display="menu" />
            </div>
          </th>

          <th>
            <div class="flex align-items-center">
            Nama Lengkap
            <p-columnFilter type="text" field="full_name" display="menu" />
            </div>
          </th>

          <th>
            <div class="flex align-items-center">
              Jabatan
              <p-columnFilter type="text" field="position" display="menu" />
            </div>
          </th>

          <th>
            <div class="flex align-items-center">
              Email
              <p-columnFilter type="text" field="email_address" display="menu" />
            </div>
          </th>

          <th>
            <div class="flex align-items-center">
              status karyawan
              <p-columnFilter field="employee_status" matchMode="equals" display="menu"  [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown
                    [ngModel]="value"
                    [options]="statuses"
                    (onChange)="filter($event.value)"
                    placeholder="Select One"
                    [showClear]="true">
                        <ng-template let-option pTemplate="item">
                            <p-tag
                                [value]="option.label"
                                [severity]="getSeverity(option.label)" />
                        </ng-template>
                    </p-dropdown>
                  </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th>Tanggal Bergabung</th>

          <th>Status Akun</th>

          <th>
            <div class="flex align-items-center">
              Divisi
              <p-columnFilter field="division_name" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="header">
                    <div class="px-3 pt-3 pb-0">
                        <span class="font-bold">Agent Picker</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect [ngModel]="value" [options]="divisionName" placeholder="Any" (onChange)="filter($event.value)" >
                        <ng-template let-option pTemplate="item">
                            <div class="inline-block vertical-align-middle">

                                <span class="ml-1 mt-1">{{ option }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </ng-template>
            </p-columnFilter>
            </div>
          </th>

          <th class="aksi">Aksi</th>
        </tr>

        <!-- <tr>
          <th></th>

          <th></th>

          <th></th>

          <th> </th>

          <th></th>

          <th></th>

          <th></th>

          <th>
            <p-columnFilter field="division_name" matchMode="in" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect
                      [ngModel]="value"
                      [options]="divisionName"
                      placeholder="Any"
                      (onChange)="filter($event.value)">
                          <ng-template let-option pTemplate="item">
                                  <span>
                                      {{ option }}
                                  </span>

                          </ng-template>
                  </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>

          <th></th>

      </tr> -->
      </ng-template>

      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.full_name }}</td>
          <td>{{ user.position }}</td>
          <td>{{ user.email_address }}</td>

          <td>
            <p-tag
              [severity]="user.employee_status === 1 ? 'warning' : 'info'"
              [value]="user.employee_status === 1 ? 'Kontrak' : 'Permanen'"
            >
            </p-tag>
          </td>

          <td>{{ user.join_date | date : "yyyy-MM-dd" }}</td>

          <td>
            <p-tag
              [severity]="user.enabled === 1 ? 'success' : 'danger'"
              [value]="user.enabled === 1 ? 'Enabled' : 'Disabled'"
            >
            </p-tag>
          </td>

          <td>{{ user.division_name }}</td>

          <td class="flex gap-2">
            @if (userRoles?.includes('HR') && !isViewUserRoute()) {
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-sm"
              (click)="openUpdateDialog(user)"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-danger p-button-sm"
              (click)="confirmDelete(user)"
            ></button>
          }
          @if (userRoles?.includes('HR') || userRoles?.includes('SVP')|| userRoles?.includes('MGR')) {
              <button
                pButton
                type="button"
                icon="pi pi-info"
                class="p-button-secondary p-button-sm"
                (click)="openDetailDialog(user)"
              ></button>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div>
  <p-toast
    [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'"
    [showTransformOptions]="'translateX(100%)'"
  />
</div>

<!-- Komponen Dialog Create User -->
<app-create-user
  [(visible)]="displayCreateDialog"
  (userCreated)="onUserCreated($event)"
>
</app-create-user>

<app-update-user
  [(visible)]="displayUpdateDialog"
  [user]="selectedUser"
  (userCreated)="onUserCreated($event)"
>
</app-update-user>

<app-detail-user [(visible)]="displayDetailDialog" [user]="selectedUser">
</app-detail-user>


