<p-table 
        [value]="groupedData" 
        sortField="source" 
        sortMode="single" 
        [scrollable]="true" 
        rowGroupMode="subheader" 
        groupRowsBy="source" 
        styleClass="p-datatable-gridlines"
        [tableStyle]="{'min-width': '60rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Aspect</th>
                    <th class="text-center">Score</th>
                    <th class="text-center">Weight</th>
                    <th class="text-center"r>Final Score</th>            
                </tr>
            </ng-template>
            <ng-template pTemplate="groupheader" let-customer>
                <tr pRowGroupHeader>
                    <td colspan="4" class="text-center font-bold">
                        <span class="font-bold ml-2">{{customer.source}}</span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr>
                    <td >
                        {{customer.group}}
                    </td>
                    <td class="text-center">
                        {{customer.score}}
                    </td>
                    <td class="text-center">
                        {{customer.percentage}}
                    </td>
                    <td class="text-center">
                        {{customer.score * customer.percentage / 100}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-customer>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        Total:
                    </td>
                    <td  class="text-right font-bold pr-6">
                        Total: 
                    </td>
                </tr>
            </ng-template>
    </p-table>
